*{
  margin: 0;
  padding: 0;
}
/* navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.school {
  display: flex;
  align-items: center;
}
.school img {
  height: 50px;
  margin-right: 7px;
}
.school h3 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: skyblue;
}

.nav-links a.home {
  color: orange;
}

.nav-links a.admission {
  color: rgb(69, 69, 175);
}

.btn {
  background-color: #FF900E;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  border: none;
}

.hamburger {
  display: none; 
  width: 30px; 
  height: 4px; 
  background-color: black;
  position: relative; 
  
}
.hamburger::before,
.hamburger::after {
  content: '';
  width: 30px;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
}
.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px; 
}
/* banner styles */
.banner {
  background-color: white 
  padding: 40px 10px;
}
.banner-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 30px; 
  margin: 60px;
}
.banner-first {
  text-align: left; 
  padding-right: 10px;
}
.banner-first h2 {
  font-size: 2rem;
  line-height: 1;
}
.heading-clr1 {
  color: orange;
}

.heading-clr2 {
  color: skyblue; 
}
.banner-first p {
  font-size: 1rem;
  color: black;
  margin-top: 15px;
}
.btn2 {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 10px;
}
.banner-second img {
  width: 100%; 
  height: auto; 
}

/* footer style */
.footer {
  background-color: rgba(1, 172, 253, 1); 
  color: white;
  padding: 20px 10px; 
  margin-bottom: 50px;
}

.footer-container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 20px; 
}
.footer-first .logo-and-title {
  display: flex;
  align-items: center;
}
.footer-first {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  flex: 1; 
  max-width: 300px; 
}

.footer-first img {
  height: 50px; 
  margin-bottom: 10px;
 background-color: white;
}

.footer-first h3 {
  font-size: 1.5rem;
  display: flex;
  margin-left: 10px;
}

.footer-first p {
  margin: 0; 
  font-size: 1rem; 
  line-height: 1.5; 
  margin-top: 10px; 
}
.footer-second ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.footer-second h3 {
  margin-bottom: 10px; /
}

.footer-second li {
  margin-bottom: 5px; 
}

.footer-second a {
  color: white; 
  text-decoration: none; 
}
/* media query */
@media screen and (max-width: 576px) {
  .school h3 {
    display: none; 
  }
  .nav-links,
  .btn {
    display: none; 
  }
  .hamburger {
    display: block; 
  }
  .navbar {
    border-bottom: 1px solid orange; 
  }
  .banner-container {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  .banner-second {
    order: -1; 
    width: 100%; 
    margin-bottom: 20px;
  }
  .banner-first {
    width: 100%; 
    padding: 0 20px; 
  }
  .banner-first h2 {
    font-size: 1.5rem; 
    line-height: 1.5; 
    margin-top: 20px;
  }
  .banner-first p {
    font-size: 1rem; 
    margin-top: 15px; 
  }
  .btn2 {
    padding: 10px 25px; 
    font-size: 1rem; 
    margin-top: 15px; 
    background-color: black; 
    color: white; 
  }
  .banner-second img {
    width: 100%; 
    height: auto;
    margin-bottom: 20px;
  }
  .footer-container {
    flex-direction: column; 
    align-items: start;  
  }
  .footer-first, .footer-second, .footer-thrid {
    max-width: 100%; 
    text-align: start;
  }
  .footer-first img {
    margin-bottom: 15px; 
  }
  .footer-first h3 {
    font-size: 1rem; 
    margin-left: 5px; 
  }
  .footer-first p {
    font-size: 1rem; 
    text-align: start; 
  }

  .footer-second ul {
    padding-left: 0; 
  }
  .footer-thrid img {
    margin: 5px; 
    height: 30px; 
  }
}
